{% block aboutme %}

	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-pause="hover">
		<div id="about-me">
			<div class="about-me-right-side">
				<div>
					<button class="m-4 about-me-button text-white" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">À propos de moi</button>
				</div>
				<div>
					<button class="m-4 about-me-button text-white" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">Profil</button>
				</div>
				<div>
					<button class="m-4 about-me-button text-white" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">Centres d'intérêts</button>
				</div>
			</div>
		</div>
		<div class="m-4" id="about-me-left-side">

			<div class="carousel-inner">
				<div class="carousel-item active">
					<div>
						<div class="text-white p-4">
							<h4 class="CarouTrad fw-bold">À propos de moi</h4>
							<p class="CarouTrad font-size">Passionné d'informatique depuis mon enfance, presque 30 ans, je souhaiterais désormais en faire mon métier,Suite à mon expérience professionnel et personnel, je dispose d’un certain nombre de qualités transposables dans le métier de développeur. Je suis quelqu’un d’organisé, rigoureux, créatif, habitué à respecter des délais et à collaborer, travailler en équipe. De par mon expérience professionnelle passé, j’ai pu développer une intelligence émotionnel et relationnel utile au métier de développeur (travail à plusieurs sur un projet, contact et écoute des besoins des clients). Ayant déjà exercer divers métiers et étant passionnée du monde du numérique depuis très jeune, je pense disposer de bonne capacité d’adaptation, d’analyse et de logique nécessaire au métier de développeur.
							</p>

						</div>
						<div class="d-flex justify-content-center p-2">
							<i class="fa-solid fa-code light mb-5"></i>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div>
						<div class="text-white p-4">
							<h4 class="CarouTrad fw-bold mb-4">Profil</h4>
							<div class="mb-4">
								<ul class="font-size">
									<li class="CarouTrad">Dynamique</li>
									<li class="CarouTrad">Rigoureux</li>
									<li class="CarouTrad">Créatif</li>
									<li class="CarouTrad">Curieux</li>
								</ul>
								<div class="d-flex justify-content-center p-2">
									<i class="fa-solid fa-code light"></i>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="carousel-item">
					<div>
						<div class="text-white p-4">
							<h4 class="CarouTrad fw-bold mb-4">Centres d'intérêts</h4>
							<div class="mb-4">
								<ul class="font-size">
									<li class="CarouTrad">Informatique (hardware et software), jeux vidéo</li>
									<li class="CarouTrad">Sciences, astronomie, technologie</li>
									<li class="CarouTrad">Bricolage, rénovation</li>
									<li class="CarouTrad">Nature, randonnée, musique</li>
								</ul>
								<div class="d-flex justify-content-center p-2">
									<i class="hobbies fa-solid fa-code light"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


		</div>

	</div>
{% endblock %}
