{% block footer %}

 <footer class="d-flex align-items-center justify-content-between p-3" id="footer">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="p-3 flip-card-front">
          <h6>Albin Cédric</h6>
          <p class="text-white">{Developpeur web Jr}</p>
        </div>
        <div class="flip-card-back">
          <img src="/images/moi.jpg" alt="Avatar" style="width:150px;height:200px;">


        </div>

      </div>

    </div>

    <div>
      <h1><span>I</span>M<span>POSSIBLE</span></h1>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="p-4 flip-card-front">
          <h6>Adresse</h6>
          <p class="text-white">14 Rue Victor Hugo</p>
          <p class="text-white">13780 Cuges-Les-Pins</p>

        </div>
        <div class="flip-card-back">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.2423889020833!2d5.699724215696108!3d43.27555878478557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9a0c596728e89%3A0x87f3e60c5ea1d663!2s14%20Rue%20Victor%20Hugo%2C%2013780%20Cuges-les-Pins!5e1!3m2!1sfr!2sfr!4v1652189844476!5m2!1sfr!2sfr"
            width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

      </div>

    </div>




  </footer>



{% endblock %}
