<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>twig_block</title>

		{% block stylesheet %}

			{% include "./stylesheet.twig" %}
			
		{% endblock %}
	</head>
	<body>
		{% block header %}

			{% include "./header.twig" %}

		{% endblock %}
		<main>


			{% block main %}

				{% block aboutme %}

					{% include "./aboutme.twig" %}

				{% endblock %}

				{% block skills %}

					{% include "./skills.twig" %}

				{% endblock %}

				{% block training %}

					{% include "./training.twig" %}

				{% endblock %}

				{% block XP %}

					{% include "./XP.twig" %}

				{% endblock %}

				{% block portfolio %}

					{% include "./portfolio.twig" %}

				{% endblock %}

				{% block contact %}

					{% include "./contact.twig" %}

				{% endblock %}

				{% block footer %}

					{% include "./footer.twig" %}

				{% endblock %}

			{% endblock %}


			{# // <script src="/js/app.js"></script> #}
			<script src="/js/main.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		</main>
	</body>
</html>
