{% block training %}

	<div id="training" class="container">
		<h2>Formation</h2>
		<div class="main-timeline-2">
			<div class="timeline-2 left-2">
				<div class="card">
					<img src="/images/ri7.jpg" class="card-img-top" alt="Responsive image">
					<div class="card-body p-4">
						<h4 class="fw-bold mb-4">Concepteur développeur d'applications</h4>
						<p class="text-muted mb-4">
							<i class="far fa-clock p-2" aria-hidden="true"></i>2022 -
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                                    2023</p>
						<p class="mb-0">
							<i class="display-6 fa-solid fa-location-dot p-2"></i>Aubagne - École
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                                    Ri7 - École
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                                    supérieure de développement logiciel</p>
					</div>
				</div>
			</div>
			<div class="timeline-2 right-2">
				<div class="card">
					<img src="/images/pâtisserie.jpg" class="card-img-top" alt="Responsive image">
					<div class="card-body p-4">
						<h4 class="fw-bold mb-4">CAP Pâtisserie</h4>
						<p class="text-muted mb-4">
							<i class="far fa-clock p-2" aria-hidden="true"></i>2009 -
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                                    2010</p>
						<p class="mb-0">
							<i class="display-6 fa-solid fa-location-dot p-2"></i>Marseille - Centre
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                                    de
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                                    formation Le Cana</p>
					</div>
				</div>
			</div>
			<div class="timeline-2 left-2">
				<div class="card">
					<img src="/images/electronique.jpg" class="card-img-top" alt="Responsive image">
					<div class="card-body p-4">
						<h4 class="fw-bold mb-4">1ère d’adaptation STI génie électronique</h4>
						<p class="text-muted mb-4">
							<i class="far fa-clock p-2" aria-hidden="true"></i>2000 -
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                                    2001</p>
						<p class="mb-0">
							<i class="display-6 fa-solid fa-location-dot p-2"></i>Aix en Provence -
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                                    Lycée
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                                    Saint Eloi</p>
					</div>
				</div>
			</div>
			<div class="timeline-2 right-2">
				<div class="card">
					<img src="/images/electronique2.jpg" class="card-img-top" alt="Responsive image">
					<div class="card-body p-4">
						<h4 class="fw-bold mb-4">BEP électronique et CAP équipement connectique contrôle</h4>
						<p class="text-muted mb-4">
							<i class="far fa-clock p-2" aria-hidden="true"></i>1998 -
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                                    2000</p>
						<p class="mb-0">
							<i class="display-6 fa-solid fa-location-dot p-2"></i>Hyères - Lycée
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                                    Costebelle
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
