{% block XP %}


	<div id="XP" class="container">
		<h2>Expériences</h2>
		<div class="main-timeline-2">
			<div class="timeline-2 left-2">
				<div class="card">
					<img src="/images/boulanger.jpg" class="card-img-top" alt="Responsive image">
					<div class="card-body p-4">
						<h4 class="fw-bold mb-4">Auchan</h4>
						<h5>Pâtissier/Boulanger</h5>
						<p class="text-muted mb-4">
							<i class="far fa-clock" aria-hidden="true"></i>2010 - 2022</p>
						<p class="mb-0">
							<ul>
								<li>Fabrication du pain</li>
								<li>Fabrication, décoration de gâteau</li>
								<li>Gestion des cuissons</li>
								<li>Gestion des stocks et commandes</li>
								<li>Respect des normes d’hygiennes</li>
								<li>Renseignement clientèle, prise de commandes</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
			<div class="timeline-2 right-2">
				<div class="card">
					<img src="/images/livreur.jpeg" class="card-img-top" alt="Responsive image">
					<div class="card-body p-4">
						<h4 class="fw-bold mb-4">Ste AGOSTINI TR. /Ste Hospiton</h4>
						<h5>Chauffeur livreur</h5>
						<p class="text-muted mb-4">
							<i class="far fa-clock" aria-hidden="true"></i>2003 - 2008</p>
						<p class="mb-0">
							<ul>
								<li>Chargement et déchargement</li>
								<li>Contact clientèle</li>
								<li>Vérification factures et encaissement</li>
								<li>Suivi des paiements</li>
								<li>Formation de remplaçants</li>
								<li>Réorganisation de la logistique</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
			<div class="timeline-2 left-2">
				<div class="card">
					<img src="/images/mcdo.jpg" class="card-img-top" alt="Responsive image">
					<div class="card-body p-4">
						<h4 class="fw-bold mb-4">Mc Donald’s</h4>
						<h5>Equipier puis chef d’équipe</h5>
						<p class="text-muted mb-4">
							<i class="far fa-clock" aria-hidden="true"></i>2001 – 2003</p>
						<p class="mb-0">
							<ul>
								<li>Travail en cuisine</li>
								<li>Service client et encaissement</li>
								<li>Réception et contrôle des marchandises</li>
								<li>Gestion des stocks</li>
								<li>Management du personnel et formation</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
